@font-face {
    font-family: "Amatic_SC";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf") format("TrueType");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto/static/Roboto-Regular.ttf") format("TrueType");

    }

    :root {
        font-size: 62,5%;
        --color-text-primary: #4A4A4A;
        --color-text-secondary: #4A4A4A;
        --color-bg-light: #F5F5F5;
        --color-bg-section: #536614;
        --color-bg-section2: #97C20B;
        --color-grad-primary: #536614;
        --color-grad-secondary: #97C20B;

        --font-family-base: "Amatic_SC", "Arial", sans-serif;
        --font-weight-regular: 400;
        --font-weight-medium: 500;
        --font-weight-light: 300;
    }
/*Способ расчета размеров элементов, который позволяет учитывать внутренние отступы и границы*/
html {
    box-sizing: border-box;
    }
*,
*::before,
*::after {
    box-sizing: inherit;
}

    h1 {
        color: var(--color-text-primary);
    }

    body {
        background-color: var(--color-bg-light);
        color: var(--color-text-primary);
        font-family: var(--font-family-base);
        font-size: 1.6rem;
        line-height: 4.0rem font-weight: var(--font-weight-regular);
        letter-spacing: 0rem;

    }

/*Свойста обертки для ограничения по ширине содержимого сайта и для его центрирования*/
.wrapper {
    padding: 0 20px;
    max-width: 1180px;
    margin: 8px;
}
  
header {
    padding: 10px 0;
    }

    h1,
    h2 {
        font-weight: var(--font-weight-regular);
    }

    h1 {
        font-size: 3.6rem;
        line-height: 4.0rem;
        letter-spacing: 0rem;
        margin: 40px 0;  
    }

    h2 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0rem;
        margin: 24px 0;
    }

    a {
        color: var(--color-text-primary);
        text-decoration:none;
        font-weight: var(--font-weight-medium);
    }
    a.btn {
        /*Элемент приобретает свойства блочного элемента*/
        display: block;
        background-color: var(--color-bg-light);
        color: var(--color-bg-section2);
        max-width: 280px;
        padding: 8px;
         border: 2px solid #536614; /* Толщина, стиль, цвет */
        border-radius: 50px; /*Скругление всех углов*/
        text-align: center;
        margin: 25px;
        }
        